*{
    margin:0;
    font-family: Arial;
    border:border-box;
    /* border should be included inside our height and width length  */
}
.navbar{
    height :60px;
    background-color: #0f1111;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width:100px;
}
.logo{
    background-image: url("amazon_logo.png");
    height:50px;
    width:100%;
    background-size:cover;
}
.border{
    border:2px solid trasparent;
}
.border:hover{
    border:2px solid white;
}
.deliver_to{
    color:#cccccc;
    font-size: 0.8rem;
    margin-left: 15px;

}
.india{
    font-size:1rem;
    margin-left:3px;
   
}
.add-icon{
    display:flex;
    align-items:center;
    
    
}
.nav-search{
    display: flex; 
    justify-content: space-evenly;
    /* justify-content: center;
    align-items: center;  */
    background-color: pink;
    width:620px;
    height:40px;
    border-radius: 3px;
}
.nav-search:hover{
    border:2px solid orange ;
}
.search-select{
    background-color:#f3f3f3;
    width:50px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    border:none;
    

}
.search-input{
   width:100%; 
   font-size:1 rem;
   border:none;
}
.search-icon{
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: orange;
    color:black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

span{
    font-size:14px;
} 
.anl{
    font-size:15px;
    font-weight: 700;
}
.nav-cart i{
    font-size:35px;
  
}
.nav-cart{
    height:45px;
    width:70px;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: end;

}
.cart{
    font-size:0.85 rem;
    font-weight:bold;

}
.panel{
    background-color: #222f3d;
    height:40px;
    color:white;
    display:flex;
    justify-content:start;
    align-items:center;
}
.text{
    display:flex;
    margin-left: 10px;
    font-size:15px;
}
p{
    margin-left:10px
}
.icon i{
    font-size:17px;
}
.icon{
    margin-left:20px;
    margin-right:5px;
}
.icon-all{
    display:flex;
    
}
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height:600px;
    display:flex;
    justify-content: center;
    align-items: end;
    
}
.hero-msg{
    
    height:35px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    width:96%;
}
.box{
    border:2px solid black;
    height:400px;
    width:23%;
    background-color: white;
    padding:20px 0px 15px;
    
    
}
.box1{
     background-image: url("box1_image.jpg");
}
.box2{
    background-image: url("box2_image.jpg");
 
}
.box3{
    background-image: url("box3_image.jpg");

}
.box4{
    background-image: url("box4_image.jpg");

}
.shop-section{
    display:flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}



    
